/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

#wrapper {
  max-width: 83rem;
  margin: 0 auto;
}

#header{
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#header .main_image #img{
  border-radius: 100%;
  display: block;
}

#header .main_image{
  border-radius: 100%;
  display: inline-block;
  padding: 0.5rem;
  background-color: rgba(255,255,255, 0.1);
  border:1px solid rgba(255,255,255, 0.25);
}

#header h1{
  font-weight: 1;
  font-size: 1.5rem;
  font-family: 'NanumGothic', serif ;
  color: rgba(255,255,255, 0.8);
}

#header b{
  color: rgba(255,255,255, 0.9);
}

#main .thumbnails{
  display: flex;
}
#main .thumbnails>div{
  flex-grow: 1;
  margin-right: 1rem;
  margin-left: 1rem;
}
#main .thumbnails img{
  width: 100%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
	border-bottom: 0rem;
}
#main .thumbnails h3{
  border-left:1px ;
  border-right:1px ;
  border-bottom:1px ;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 0.5rem;

  text-align: center;
  background-color: rgb(255,255,255,0.1);
  font-size: 1.3rem;
  font-weight: 10;
  font-family: 'Hanna', serif ;
  color: white;

	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
#main .thumbnails a{
  margin-bottom: 1.5rem;
	text-decoration: none;
  display: block;

}
@media(max-width: 480px){
  #main .thumbnails{
    display: block;
  }
}

/* #accordion>*{
  border:1px solid red;
  background-color: rgba(255,255,255,0.3);
}
#accordion>*>*{
  border:1px solid blue;
  padding-left: 1rem;
  padding-right: 1rem;
} */


#accordion {
  padding-top: 0.2rem;
  font-family: 'NanumGothic', serif ;
  background-color: rgba(255,255,255,0.3);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  margin: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  padding-right: 1rem;

}
#accordion h1{
  text-align: center;
  font-family: 'Hanna', serif ;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  display: block;
}
#accordion .panel-title{
  text-align: center;
  font-size: 2rem;
  font-family: 'Hanna', serif;
  font-weight: lighter;
}
#accordion #content{
  display: flex;

}
#accordion #content >*{
  padding-left: 1rem;
  padding-right: 1rem;
}
#accordion #content #main strong{
  text-align: center;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#accordion #content #feel strong{
  text-align: center;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media(max-width: 480px){
  #accordion #content{
    display: block;

  }
}
#collapse1 #content
{

}
#mal {
  margin: auto;
}
 ol{
  list-style: none;
 }
 a{
   text-decoration: none;
 }
 body{
   background-image: url("../../image/bg.jpg");
   background-color: #cccccc;
   background-size: cover;
 }
